<p>
<strong>Name</strong>
<%= @contact.name %>
</p>
<p>
<strong>Contact Number</strong>
 <%= @contact.contactNumber %>
</p>
<p>
<strong>Email</strong>
<%= @contact.email %>
</p>
</p>
<%= link_to "Show List", contacts_path() %>
</p>
